<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="StarChefLoginDbConnection" connectionString="Initial Catalog=MenuServiceMain;Data Source=ie1apiddb01.cloudapp.net;User Id=SQLA-VenkatSalivendra;Password=hi2o2qcDYD5ipK6DvOM7" />
  </connectionStrings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow></configuration>