<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <connectionStrings>
    <add name="StarChefLoginDbConnection" connectionString="Initial Catalog=SL_login;Data Source=10.10.10.109\devtest;User Id=admin;Password=ox97ab" />
    <add name="StarChefAbokadoConnection" connectionString="Initial Catalog=SCNET_abokado;Data Source=10.10.10.109\DEVTEST;User ID=sl_web_user; Password=reddevil;" />
    <add name="StarChefImportStagingDb" connectionString="Initial Catalog=SL_Import_Staging;Data Source=10.10.10.109\devtest;User Id=admin;Password=ox97ab" />
    <add name="MenuServiceConnectionStringQai" connectionString="Initial Catalog=MenuServiceMainQAI;Data Source=ie1apiqdb02.cloudapp.net;User Id=SQLA-VenkatSalivendra;Password=hi2o2qcDYD5ipK6DvOM7" />
    <add name="MenuServiceConnectionString" connectionString="Initial Catalog=MenuServiceMainQAI;Data Source=ie1apiqdb02.cloudapp.net;User Id=SQLA-VenkatSalivendra;Password=hi2o2qcDYD5ipK6DvOM7" />
    <add name="MenuServiceConnectionStringCi" connectionString="Initial Catalog=MenuServiceMain;Data Source=ie1apiddb01.cloudapp.net;User Id=SQLA-VenkatSalivendra;Password=hi2o2qcDYD5ipK6DvOM7" />
  </connectionStrings>
  
  
<specFlow><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <unitTestProvider name="NUnit" />
<stepAssemblies><!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  --><stepAssembly assembly="SpecFlow.Assist.Dynamic" /></stepAssemblies></specFlow>  
  <appSettings>
    <add key="RootUrl" value="http://ci-menuservice.fourth.com/" />   
  </appSettings>
</configuration>